{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Patient Information</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/patientInfo.css" %}">
	<div class="container">
      	<div class="patient">
      		<h2>Patient Information</h2>
      			<label for="Pid">Enter patient ID::</label>
                <input type="text" id="Pid"><br><br>
                <button id="search">Search</button>
								<button id="addPatient">Add a new patient</button>
								<button id="home">Home</button>

      	</div>
      </div>

     <hr>

<body>
	{% if details %}
		<h3>ID: {{details.id}} <h3>
		<h3>Name: {{details.name}} <h3>
		<h3>Address: {{details.address}} <h3>
		<h3>Age: {{details.age}} <h3>
		<h3>Hospital ID: {{details.hospital_id}} <h3>
		<h3>Gender: {{details.gender}} <h3>
		<h3>Test Status: {{details.test_status}} <h3>
	{% endif %}
	{% if error %}
		<h2>{{error}}</h2>
	{% endif %}


	</head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script  type="text/javascript">
		$("#search").click(function() {
			var id = document.getElementById("Pid").value;
			console.log(id);
			window.location.href = 'http://127.0.0.1:1234/get-patients/'+id;
		})
		$("#addPatient").click(function() {
			console.log("add patient");
			window.location.href = 'http://127.0.0.1:1234/add-patient';
		})
		$("#home").click(function() {
			window.location.href = 'http://127.0.0.1:1234/';
		})
	</script>
</body>
</html>
